<div class="ceGalleryReveal" id="ceGalleryReveal" data-reveal>
    <div class="grid-x align-center align-middle">
        <div class="cell shrink">
            <a href="#" class="h1 ceGalleryReveal__navArrows" data-direction="prev">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
        </div>
        <div class="cell auto" id="ceGalleryReveal__drop">
        </div>
        <div class="cell shrink">
            <a href="#" class="h1 ceGalleryReveal__navArrows" data-direction="next">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
