<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

{namespace bw=Blueways\BwPlaceholderImages\ViewHelpers}

<section class="header grid-y align-center header--in-content placeholderimage"
        {bw:responsiveBackgroundImage(src:data.flexform_image, treatIdAsReference:1,
        small: {width: 640, cropVariant:'medium'},
        medium: {maxWidth: 1024, cropVariant:'medium'}, large: {maxWidth: 1680, cropVariant:'large'})->f:format.raw()} >

<div class="cell show-for-medium">
        <f:if condition="{content}">
            <div class="grid-container grid-x align-{data.flexform_position}">
                <div class="small-6 large-4 cell">
                    <div class="header__textbox">
                        <f:format.raw>{data.tx_gridelements_view_columns.11}</f:format.raw>
                    </div>
                </div>
            </div>
        </f:if>
    </div>

</section>
<f:if condition="{data.tx_gridelements_view_columns.11}">
    <section class="header__textbox hide-for-medium">
        <f:format.raw>{data.tx_gridelements_view_columns.11}</f:format.raw>
    </section>
</f:if>
